# misc
.git
.env*
.idea
.vscode
#coverage
.coverage
/htmlcov
# Front
.eslintcache
front/node_modules
front/.env.local
# Back
back/celerybeat-schedule
back/users
back/logs
back/*/__pycache__/
back/*/*/__pycache__/

back/localize/settings.py
back/core/migrations/0001_initial.py
