$res-s: 600px;
$res-m: 768px;
$res-l: 992px;
$res-xl: 1200px;
$w-app: 900px;

$indent: 0.4rem;
$size-bd: 1px;
$menu-close: 65px;
$menu-open: 230px;
$ico: 20px; // small = ico * 0.7
$disable: #202029;
// $enable: rgba(255, 255, 255, 0.99);
$popup: rgb(32, 32, 41);
$head: #23232b;
$body: #1d1d23;

$shadow: #000;
$border: rgba(255, 255, 255, 0.1);
$text: rgb(144, 144, 153);
$texth: #fff;
$textm: #505059;
$main: rgb(117, 69, 226);
$red: #f00;
$green: #0f0;
$blue: #00f;

// MSG COLORS
$msg-default: #007bff;
$msg-info: #17a2b8;
$msg-success: #28a745;
$msg-warning: #ce9c09; //#eab000;
$msg-danger: #dc3545;

@mixin colors($color, $darkPersent, $hover: false) {
  background: $color;
  color: darken($color, $darkPersent);
  @if $hover {
    &:hover {
      background: darken($color, 5%);
      transition: all 0.5s;
    }
  }
}
@mixin shadow($color: $shadow, $offset: $indent) {
  box-shadow: 0 $offset/2 $offset $color !important;
}

%flex-row {
  display: flex;
  flex-direction: row;
  // align-items: center;
  // justify-content: space-between;
}
%flex-col {
  display: flex;
  flex-direction: column;
  // align-items: center;
}
%field-input {
  position: relative;
  font-size: 1rem;
  padding: $indent * 1.5;
  border: $size-bd solid $border;
  border-radius: 5px;
}
%border-big {
  border: $size-bd * 4 dashed $border;
  border-radius: $indent * 3;
  cursor: pointer;
  text-align: center;
  padding: $indent * 4 $indent;
  position: relative;
  color: $texth;
  font-size: $indent * 3.75;
  &:hover {
    border-color: $green;
  }
}
// @import url("https://fonts.googleapis.com/css?family=Roboto&display=swap");
body {
  // font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  font-family: "Roboto", notosans, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: $body;
  color: $text;
  font-size: $indent * 2.5;
  line-height: 1.3;
}
body::-webkit-scrollbar,
div::-webkit-scrollbar {
  width: 5px;
  height: 5px;
  background-color: $disable;
}
body::-webkit-scrollbar-thumb,
div::-webkit-scrollbar-thumb {
  width: 5px;
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 10px;
  min-height: 35px;
}
body::-webkit-scrollbar-track,
div::-webkit-scrollbar-track {
  background-color: $disable;
}
*[disabled] {
  background-size: 100px 100px;
  background-image: linear-gradient(
    45deg,
    rgba(0, 0, 0, 0.12) 25%,
    transparent 25%,
    transparent 50%,
    rgba(0, 0, 0, 0.12) 50%,
    rgba(0, 0, 0, 0.12) 75%,
    transparent 75%,
    transparent
  );
}
