.lang-select {
  min-width: $indent * 24;
  position: relative;
  user-select: none;
  font-size: $indent * 3;
  font-weight: 300;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  &-trigger {
    display: flex;
    border: 2px solid #394a6d;
  }
  &-arrow {
    position: relative;
    height: 15px;
    width: 15px;
    &::before,
    &::after {
      content: "";
      position: absolute;
      bottom: 0px;
      width: 0.15rem;
      height: 100%;
      transition: all 0.5s;
    }
    &::before {
      left: -5px;
      transform: rotate(-45deg);
      background-color: #394a6d;
    }
    &::after {
      left: 5px;
      transform: rotate(45deg);
      background-color: #394a6d;
    }
  }
  &-options {
    transition: all 0.5s;
    position: absolute;
    z-index: 5;
    top: 100%;
    left: 0;
    right: 0;
    opacity: 0;
    pointer-events: all;
  }
  &-trigger,
  &-option {
    position: relative;
    align-items: center;
    justify-content: space-between;
    padding: $indent/2 $indent;
    background: #ffffff;
    color: #3b3b3b;
  }
  &-option {
    display: none;
    border-width: 0 2px 2px 2px;
    border-style: solid;
    border-color: #394a6d;
    &:hover {
      background-color: #b2b2b2;
    }
    // &.selected {
    //   color: #ffffff;
    //   background-color: #305c91;
    // }
  }
  &.open {
    & .lang-select-options {
      opacity: 1;
      pointer-events: all;
    }
    & .lang-select-option {
      display: flex;
    }
    & .lang-select-arrow::before {
      left: -5px;
      transform: rotate(45deg);
    }
    & .lang-select-arrow::after {
      left: 5px;
      transform: rotate(-45deg);
    }
  }
}
