.menu {
  font-size: 0.875rem;
  min-width: $menu-open;
  max-width: $menu-open;
  padding: $indent * 5 0;
  min-height: 100vh;
  max-height: 100vh;
  position: fixed;
  overflow: hidden;
  background-color: $disable;
  box-shadow: $indent/2 0 $indent rgba(0, 0, 0, 0.15);
  -webkit-transform: translate3d(0, 0, 0);
  transition: all 0.4s;
  transform: translate3d(0, 0, 0);
  transition-duration: 350ms;
  transition-timing-function: cubic-bezier(0.39, 0.575, 0.565, 1);
  z-index: 3;
  &-container {
    // height: calc(100vh - $indent * 6);
    min-height: 100vh;
    padding: 0 $indent * 2.7;
    transition: padding 350ms cubic-bezier(0.39, 0.575, 0.565, 1);
  }
  &-logo {
    height: 24px;
    min-height: 24px;
    max-height: 38px;
    margin-left: $indent * 2;
    margin-bottom: $indent;
    background-size: 125px 24px;
    svg:hover {
      fill: $green;
    }

    svg {
      height: inherit;
    }
  }
  &-title {
    font-family: montserrat, sans-serif;
    padding: $indent 0;
    color: $textm;
    text-transform: uppercase;
    white-space: nowrap;
    letter-spacing: 3px;
  }
  &-list {
    position: relative;
    height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
    padding-right: 1px;
    &::-webkit-scrollbar {
      width: 2px;
    }
  }
  &-item {
    font-family: montserrat, sans-serif;
    color: rgba($texth, 0.6);
    padding: $indent * 0.8 $indent * 1.6;
    line-height: 35px;
    margin-bottom: $indent;
    border-radius: $indent;
    display: block;
    & > i {
      min-width: 26px;
    }
    &.active {
      color: $texth;
      background-color: $main;
      &:hover {
        background-color: lighten($main, 6%);
      }
      svg {
        transition-duration: 0.3s;
        transform: scale(1.25) !important;
        fill: $texth;
      }
    }
    &:last-of-type {
      margin-bottom: 0;
    }
    &:hover {
      background-color: rgba($border, 0.05);
      color: $texth;
      svg {
        fill: $texth;
      }
    }
    svg {
      fill: rgba($texth, 0.6);
      width: $indent * 4;
      height: $indent * 4;
    }
  }
  &-add {
    @extend %border-big;
    display: block;
    background-position-x: center;
    background-position-y: center;
    background-repeat: no-repeat;
    background-size: $indent * 13;
    // background-image: url(../IMG/add_circle_outline.svg);
  }
  .fix-bot {
    text-align: right;
    padding: inherit;
  }
  &-toggle {
    text-align: right;
    & svg {
      transition: all 1.5s;
      width: $indent * 5;
      height: $indent * 5;
    }
    &.rotated {
      & > svg {
        transform: rotate(1980deg);
      }
    }
  }
  &.hide {
    min-width: $menu-close;
    max-width: $menu-close;
    .fix-bot {
      padding: 0 $indent * 1.3;
      text-align: center;
    }
    .menu-container {
      align-items: center;
    }
    .menu-logo {
      margin-left: 0;
      width: 20px;
      transition: all 1s;
      transform: scale(2);
    }
    .menu-item {
      border: $size-bd dotted rgba($border, 0.4);
      span {
        display: none;
      }
      i {
        padding-right: 0;
      }
    }
    .menu-add {
      color: transparent;
      transform: scale(0.6);
    }
  }
}
